* {
    font-family: "main";
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f6;
    background-image: url(triangles-1430105.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.title {
    font-size: 50px;
}

.password_container {
    width: 595px;
    height: 100px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 8px 8px 15px black;
    position: relative;
    border-radius: 10px;
}

.refresh-button_container {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
}

.refresh-button {
    width: 60px;
    height: 60px;
    animation: animate 10s linear infinite;
}

.container {
    max-width: 675px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_input {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 79px;
    border: none;
    font-size: 25px;
    text-align: center;
}

.main_input:focus {
    outline: none;
}

.first_textarea {
    height: 35px;
    width: 85px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px black;
}

.first_textarea:focus {
    outline: none;
}

.security {
    width: 30%;
    position: absolute;
    background-color: red;
    height: 20%;
    bottom: 2px;
    left: 2px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    display: none;
    padding-top: 4px;
}

div p {
    font-size: 29px;
}

input[type="checkbox"] {
    width: 90px;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    transition: 0.5s;
    position: relative;
    box-shadow: 8px 8px 15px black;
    cursor: pointer;
}
input:checked[type="checkbox"] {
  background: #02a9f4;
}
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0, .2);
  transition: 0.2s;
}
input:checked[type="checkbox"]::before {
  left: 50px;
}

@media screen and (max-width: 700px) {
    .first_textarea {
        height: 30px;
        width: 70px;
        font-size: 26px;
        border-radius: 10px;
        box-shadow: 8px 8px 15px black;
    }

    input[type="checkbox"] {
        width: 75px;
        height: 30px;
    }

    input:checked[type="checkbox"]::before {
        left: 45px;
    }

    input[type="checkbox"]::before {
        width: 30px;
        height: 30px;
    }

    div p {
        font-size: 24px;
    }
}

@media screen and (max-width: 657px) {
    .password_container {
        width: 100%;
    }

    .title {
        font-size: 7vw;
    }
}

@media screen and (max-width: 585px) {
    div p {
        font-size: 4vw;
    }

    input[type="checkbox"]::before {
        width: 27px;
        height: 27px;
    }

    input:checked[type="checkbox"]::before {
        left: 35px;
    }

    input[type="checkbox"] {
        width: 60px;
        height: 27px;
    }

    .first_textarea {
        height: 26px;
        width: 56px;
    }
}

@media screen and (max-width: 484px) {
    div p {
        font-size: 3.8vw;
    }

    .container {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 425px) {
    .refresh-button {
        width: 45px;
        height: 45px;
    }

    .refresh-button_container {
        width: 45px;
        height: 45px;
    }

    .main_input {
        margin-right: 60px;
    }
}

@media screen and (max-width: 375px) {
    .password_container {
        height: 80px;
    }

    .security {
        font-size: 12px;
    }

    .main_input {
        font-size: 20px;
    }

    .refresh-button {
        width: 35px;
        height: 35px;
    }

    .refresh-button_container {
        width: 35px;
        height: 35px;
    }

    .first_textarea {
        height: 18px;
        width: 45px;
        font-size: 20px;
    }

    input[type="checkbox"] {
        width: 48px;
        height: 20px;
    }

    input[type="checkbox"]::before {
        width: 22px;
        height: 22px;
    }

    input:checked[type="checkbox"]::before {
        left: 30px;
    }

    .main_input {
        margin-right: 55px;
    }
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: "main";
    src: url(19759.otf);
}